<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Person</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <label for="full_name">Enter full name: </label>
    <input type="text" th:field="*{fullName}" id="full_name"/>
    <br/>
    <label for="yearBirth">Enter year of birth: </label>
    <input type="text" th:field="*{yearBirth}" id="yearBirth"/>
    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>